.admin-layout {
    display: flex;
    min-height: 100vh;
    width: 100%;
}

.admin-content {
    flex: 1;
    padding: 24px;
    box-sizing: border-box;

    overflow-x: hidden;
    overflow-y: auto;
}